*{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

.clear{
    clear: both;
}

html{
    font-family: Arial, sans-serif,"Segoe UI";
}

body{
    background-color: rgba(227, 230, 243, .2);

}
:root{
    /* --grey:#e7e7e9; */
    --grey:rgba(227, 230, 243, 1);
    --sub-title:rgba(188, 190, 197, 1); 
    --input-color:rgb(19, 18, 18);
    --sred:rgba(244, 67, 54, 1);
    --b: 0.1em;   /* the thickness of the line */
    --c: rgba(80, 159, 60, 1);
    --co: rgba(80, 159, 60, .8);
    --fb-blue: rgba(66,103,178,1);
    --yt-red: rgba(255, 0, 0, 1);
    --tt-pink: rgba(255, 0, 80, 1);
    --tt-aqua: rgba(0, 242, 234,1);
    --discord-purple:rgba(88,101,242,1);
    --twitter-blue: rgba(29, 161, 242,1);
}
a, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

.one-line-detail{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pn{
    pointer-events: none;
}

#header{
    padding: 10px 40px;
    height: 74px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--grey);
    position: sticky;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    top: 0;
    left: 0;
    z-index: 999;
}
#header-container{

}

.logo{
    float: left;
    object-fit: cover;
    height: 54px;
    
}

#head-menu{
    margin: 0px 10px 0px 50px;
    padding-right: 10px !important;
}

.head-menu-btn{
    /* display: flex;
    flex-direction: row; */
}

#head-menu .menu-icon{
    font-size: 30px;
}

.catalog-menu-dropdown{
    display: none;
    left: 0;
    right: 0;
    padding: 24px 12px 16px 12px;
    text-align: left;
    color: #212121;
    width: fit-content;
    top: 100%;
    left: 0;
    position: absolute;
    color: #000;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 10;
    transition: .4s;

}

.catalog-menu-content{
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#main-catalog-title{
    font-weight: bold;
    font-size: 32px;
    color: #7A7E7F; 
    text-align: left;
    padding: 0 12px;
    margin-bottom: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}

#catalog-nav-section{
    display: flex;
    flex-direction: row;
}

.catalog-content{
    margin-right: 40px;
}

#catalog-right-title{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.sub-catalog-title{
    margin-bottom: 12px;
    padding-left: 24px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

.menu-title{
    font-size: 32px;
    color: #212121;
    text-transform: capitalize;
    pointer-events: none;
    /* word-spacing: -10px; */
}

.catalog-content-nav{
    font-size: 20px;
    padding: 18.5px 20px;
    border-radius: 6px;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
}

.catalog-content-nav:hover{
    color: var(--c);
    background-color: var(--grey);
    cursor: pointer;
}

.search-bar{
    margin-right: 80px;
    height: 54px;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.search-bar input{
    flex: 1;
    border: 0;
    outline: none;
    margin: 16px 20px 16px 36px;
    font-size: 19px;
    background-color: #fff;
    color: var(--input-color);
}

.search-bar button{
    margin-right: 6px;
    border: 0;
    border-radius: 50%;
    background-color: #fff;
    background-color: var(--c);
    height: 44px;
    width: 44px;
}

.search-btn{
    color: #fff;
    font-size: 18px;
    padding: 13px;
    border-radius: 50%;
}

.search-bar button:hover
,.search-bar .ti-search:hover
,#head-pay-btn button:hover
,.mail-bar .submit-btn:hover
{
    cursor: pointer;
    color: black;
    opacity: 0.8;
    transition: 0.8s;
}

#nav{
    display: flex;
    align-self: center;
    justify-self: center;
}
#nav>li{
    display: inline-block;
}
#nav li
,#nav #head-menu{
    position: relative;
}
#nav >li> a
,#nav #head-menu{
    display: block;
    font-size: 20px;
    padding: 18.5px 20px;
}

.arrow-down{
    font-size: 12px;
    text-align: right;
}

.fake-triangle{
    display: none;
    position: absolute;
    margin-left: 126px;
    margin-top: -7px;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-top: 2px solid var(--c);
    border-left: 2px solid var(--c);
    transform: rotate(45deg);
    z-index: 4;
}

#nav .subnav{
    display: none;
    /* display: block; */
    /* height: 0px; */
    position: absolute;
    min-width: 169px;
    top: 100%;
    /* left: 0; */
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 5;
    transition: 1s;
    
}

.subnav li{
    border-bottom: 1px solid #ccc;
    padding: 18.5px 20px;
}

.subnav li a{
    font-size: 18px!important;
}


#nav li:hover .subnav
,#nav li:hover .fake-triangle
,#nav #head-menu:hover .catalog-menu-dropdown
,.h-cart:hover #head-cart{
    display: block;
}

.subnav li:hover{
    background-color: var(--grey);
    color: var(--c);
}

#head-cart{
    display: none;
    position: absolute;
    padding: 10px 12px;
    margin-top: 1.6px;
    margin-left: -80px;
    min-width: 276px;
    color: #000;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    z-index: 4;
    font-size: 16px;
}

#total-count{
    padding: 10px 0px;
    border-bottom: 1px solid var(--grey);
}

.cash-amount-right{
    float: right;
    font-size: 20px;
}

#head-pay-btn button{
    display: flex;
    height: 35px;
    width: 236px;
    margin: 20px 10px 10px 10px;
    background-color: var(--c);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

.arrow-right{
    font-size: 12px;
}

.navhover {
    color: #0000;
    padding-block: var(--b);
    background: 
      linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: .3s var(--_s,0s) linear, background-size .3s calc(.3s - var(--_s,0s));
}
.navhover:hover{
    --_p: 100%;
    --_s: .3s;
}
#slider,
#content{
    /* background-color: #fff; */
}

.slideshow-container {
    max-width: 70vw;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.dot-style{
    text-align:center;
    position: absolute;
    margin-top: -50px;
    left: 0;
    right: 0;
}

#content .content-repeat{
    display: block;
    padding: 0px 75px;
    min-height: 932px;
    /* margin: 0px 0px; */
}

.content-title{
    display: flex;
    font-size: 37px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 50px 0px 20px 0px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}

#sub-title{
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--sub-title);
    margin-bottom: 50px;
    pointer-events: none;
}

.item-box{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.product-list{
    display: flex;
    flex-direction: column;
    /* float: left; */
    width: 18%;
    min-width: 300px;
    padding-top: 16px;
    margin: 20px 15px;
    border: 0.1px solid rgb(177, 177, 177);
    border-radius: 16px;
    background-image: linear-gradient(to left, rgb(247, 226, 247), #dff1ff);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: .5s ease;
}

.product-list:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-image: linear-gradient(to left bottom,rgba(241, 171, 238,.4), white);
    transition: .5s ease;
}

.product-queue{
    position: relative;
    width: 100%;
}

.imgbox{
    height: 300px;
    /* width: 300px; */
}

.preview-img
,.hover-img
{
    display: flex;
    height: 300px;
    margin: 0 auto;
    border-radius: 16px;
}

.hover-img{
    opacity: 0;
    position: absolute;
    margin-top: -300px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    transition: .8s;
}

.hover-img:hover{
    opacity: 1;
}

.discount-badge{
    position: absolute;
    font-size: 20px;
    padding: 10px 25px;
    background-color: yellow;
    z-index: 2;
    margin-top: -270px;
    pointer-events: none;
}
.order-badge{
    position: absolute;
    font-size: 20px;
    padding: 10px 25px;
    background-color: var(--grey);
    color: var(--sred);
    right: 0;
    z-index: 2;
    margin-top: -90px;
    text-transform: capitalize;
    pointer-events: none;
}

.product-detail{
    padding: 20px 10px;
    text-align: center;
    overflow: hidden;
}

.product-name{
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.green-text,
.product-name:hover,
.footer-support p:hover{
    color: var(--c);
}

.product-detail .price{
    margin-top: 10px;
    display: block;
    pointer-events: none;
}

.product-detail .nor-price{
    display: block;
    margin: 10px auto 0px auto;
    pointer-events: none;
}

.product-detail .current-price{
    float: left;
    color: var(--sred);
}

.nor-price .current-price{
    float: none;
    text-align: center;
}

.product-detail .last-price{
    float: right;
    font-size: 16px;
    text-decoration: line-through;
}

.top-footer{
    display: flex;
    padding: 15px 75px;
    /* margin: 0px 100px; */
    align-items: center;
    justify-content: center;
    background-color: rgba(227, 230, 243, .7);
}

.news-letter{
    display: flex;
    flex-direction: row;
}

.mail-bar{
    margin: 0px 80px;
    height: 44px;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 6px 30px 30px 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.mail-bar input{
    flex: 1;
    border: 0;
    outline: none;
    margin: 14px 20px 12px 26px;
    font-size: 16px;
    background-color: #fff;
    color: var(--input-color);
}

.mail-bar .submit-btn{
    border: 0;
    border-radius: 46px;
    background-color: var(--c);
    height: 100%;
    color: #fff;
    font-size: 16px;
    padding: 13px;
}

.bottom-footer{
    display: flex;
    flex-direction: row;
    line-height: 1.5;
    justify-content: center;
    padding: 40px 40px 30px 40px;
}

.footer-item{
    max-width: 23%;
    padding: 0px 15px;
}

.footer-sub-title{
    text-transform: capitalize;
    margin: 5px 0px 20px 0px;
    font-size: 20px;
}

.footer-sub-content p{
    font-size: 14px;
    display: flex;
    flex-direction: row;
    color: rgba(0,0,0,0.7);
}

.media-container{
    display: flex;
    flex-direction: row;
    margin: 12px 0px;
}
.media-icon{
    display: flex;
    padding: 10px;
    margin: 6px 8px 0px 0px;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    border: solid 1px #ccc;
    border-radius: 6px;
}

.icon-fb:hover{
    cursor: pointer;
    color: var(--fb-blue);
    border-color: var(--fb-blue);
    box-shadow: 0 0 10px var(--fb-blue);
    transition: .4s;
}

.icon-yt:hover{
    cursor: pointer;
    color: var(--yt-red);
    border-color: var(--yt-red);
    box-shadow: 0 0 10px var(--yt-red);
    transition: .4s;
}

.icon-tiktok:hover{
    cursor: pointer;
    text-shadow: 1px 2px var(--tt-pink), -1px -2px var(--tt-aqua);
    border-color: var(--tt-aqua) var(--tt-pink) var(--tt-pink) var(--tt-aqua);
    box-shadow: 2px 2px 10px var(--tt-pink), -2px -2px 10px var(--tt-aqua);
    transition: .4s;
}

.icon-discord:hover{
    cursor: pointer;
    color: var(--discord-purple);
    border-color: var(--discord-purple);
    box-shadow: 0 0 10px var(--discord-purple);
    transition: .4s;
}

.icon-tw:hover{
    cursor: pointer;
    color: var(--twitter-blue);
    border-color: var(--twitter-blue);
    box-shadow: 0 0 10px var(--twitter-blue);
    transition: .4s;
}

.footer-sub-content{
    display: flex;
    flex-direction: column;
}

.contact-info p,
.footer-support p{
    font-size: 16px;
}

.icona{
    margin-right: 10px;
    width: 15px;
}

